<ion-header [translucent]="true">
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>About</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="about-page">
    <ion-card class="about-card">
      <img class="about-logo" src="/assets/images/categories/sw.png" alt="Star Wars logo">

      <ion-card-header>
        <ion-card-title>Wiki Star Wars, ver 1.0.</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <p>
          Aplicación de consulta sobre Star Wars con información organizada por categorías para explorar personajes, planetas, especies y naves.
        </p>
        <p class="copyright-text">
          Copyright &copy; 2026 Wiki Star Wars
        </p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
